<MarketplaceDetails>
  <SmallAppTile>hnrlogo_99x99.png</SmallAppTile>
  <LargeAppTile>hnrlogo_173x173.png</LargeAppTile>
  <PCAppTile>hnrlogo_200x200.png</PCAppTile>
  <ScreenShots>screen1.png;screen2.png;screen3.png;screen4.png;screen5.png;screen6.png;screen7.png;;</ScreenShots>
</MarketplaceDetails>